body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3;
    color: #4d2323;
}

/* .header {
    border: 1px solid red;
    position: fixed;
}
.main {
    border: 1px solid green;
}
.footer {
    border: 1px solid blue;
} */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* .section {
    width: 50%;
} */

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    list-style: none;

    padding: 0 20px;
    line-height: 50px;

    transition: .3s;
}
.nav-link {
    text-decoration: none;
    color: rgb(0, 96, 206);
    letter-spacing: 3px; 
}

.nav ul {
    height: 70px;
}
.nav li {
    text-align: center;
    width: 60%;
}

html {
    scroll-behavior: smooth; 
}

.section-item a {
    color: rgb(135, 186, 245);
    text-decoration: none;  
    /* transition: color 0.5s; */
}

a {
    text-decoration: none;
    color: #4d2323;
}

/* .section-item a:hover {
    color: #eb0f0f;
} */

.main-container {
    display: flex;
    flex-wrap: wrap;
}

/* @media (max-width: 768px) {
    .section {
      width: 100%;
    }
} */
.section-title {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: rgb(0, 96, 206);
}

.link {
    text-decoration: none;
    color: rgb(135, 186, 245);
    transition: color 0.5s;
}
  
.link:hover {
    color: #f51e4d;
}

table {
    border-collapse: collapse;
}
td, th {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
}

footer {
    display: flex;
}
footer img {
    height: 30px;
    margin: 0 50px;
}